/* mixins */
@import '../utilities/mixins/flex';
@import '../utilities/mixins/buttons';
@import '../utilities/mixins/typography';

.about-us {
    text-align: center;
    margin-top: 213px;
    &__content_flex {
        @include flex-cont(space-between, center);
        gap: 65px;
    }

    &__img-wrap {
        position: relative;
        img {
            position: relative;
            border-radius: 24px;
            z-index: 1000;
        }
    }

    .circles:first-of-type {
        left: -30px;
        top: -18px;

        .circles__circle {
            background-color: #FF5C00;
        }
    }

    .circles:last-of-type {
        right: -38px;
        bottom: -7px;

        .circles__circle {
            background-color: #EB00FF;
        }
    }

    &__text {
        text-align: left;
        
        &-p {
            margin-bottom: 24px;
        }
    }

    &__btn_not-transparent {
        @include button_not-transparent;
        margin-right: 25px;
    }

    &__btn_transparent {
        @include button_transparent;
        padding: 10px 50px;

        img {
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
            margin-left: 5px;
            color: #377DFF;
        }
    }

    .secondary-title {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 38px;
    }


}
