@import '../mixins/flex';
@import '../mixins/typography';
@import '../mixins/buttons';

.header {
    @include flex-cont(space-between, center);
    margin-top: 72px;
    margin-bottom: 67px;

    &__logo {
        @include flex-cont(flex-start, center);
        gap: 11px;

        .logo__text-item_bold {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }

    .nav {
        @include flex-cont(center, center);
        gap: 50px;

        &__item {
            @include gl-text(18px, 400, 24px, 0.01em, #1D1D1D);
            text-decoration: none;
            transition: font-weight .2s;

            &:hover { font-weight: 700; }
        }

        &__item_active {
            font-weight: 700;
        }
    }
    
    .button_transparent {
        @include button_transparent;
        transition: all ease-in-out .2s;

        &:hover {
            color: #FFFFFF;
            background: #377DFF;
        }
    }
}
