@font-face {
    font-family: "Nunito-Bold";
    src: url('../assets/fonts/Nunito-ExtraBold.ttf') format("opentype"),
         url('../assets/fonts/Nunito-ExtraBold.ttf') format("ttf");
}

@font-face {
    font-family: "Nunito-Regular";
    src: url('../assets/fonts/Nunito-Regular.ttf') format("opentype"),
         url('../assets/fonts/Nunito-Regular.ttf') format("ttf");
}

